<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Text Editor CV - Juliette Ferrer</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <!-- Uncomment and add favicon -->
    <%= favicon_link_tag asset_path('sublime_text_icon.png') %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>

    <div style="width: 100vw; height: 100vh; background-image: url('https://res.cloudinary.com/julietteferrer27/image/upload/v1592467167/background_zn5mzp.jpg'); background-size: cover; background-repeat: no-repeat; position: fixed;">

    <div class="flash">
      <%= render 'components/flashes' %>
    </div>

    <div class="d-none flip" style="width: 95vw; height: 95vh; background-image: url('https://res.cloudinary.com/julietteferrer27/image/upload/v1592925071/rotate_dn7jnm_bj2uke.gif'); background-size: cover; background-repeat: no-repeat; z-index: 2; margin: 2.5vh 2.5vw; position: absolute;">
    </div>

    <%= yield %>
    </div>
    <script>
      const removeAlert = (flashAlert) => { flashAlert.parentNode.innerHTML = ''; }

      if ( document.querySelector('.alert') ) {
        document.addEventListener('click', (e) => {
          removeAlert(document.querySelector('.alert'))
        })
      }

      // checking phone orientation and displaying alert
      let alertDiv = document.querySelector(".flip");
      const toggleAlert = (phoneOrientation) => {
        if (phoneOrientation) {
          alertDiv.classList.remove("d-none");
        } else {
          alertDiv.classList.add("d-none");
        }
      };

      const checkHeightWidth = () => {
        if (window.innerHeight > window.innerWidth) {
          toggleAlert(true);
        } else {
          toggleAlert(false);
        };
      }

      const checkOrientation = () => {
        if ( window.matchMedia("(orientation: portrait)").matches ) {
          toggleAlert(true);
        } else {
          toggleAlert(false);
        }
      };

      checkHeightWidth();
      setInterval(checkOrientation, 200);
    </script>

    <%= javascript_pack_tag 'application' %>
    <%= yield :after_js %>
  </body>
</html>
